{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        reagent {:mvn/version "0.8.1"}
        re-frame {:mvn/version "0.10.8"}}
 :paths ["src" "target" "resources"]}
