{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        re-frame {:mvn/version "0.10.8"}}
 ;; setup some development paths
 :paths ["src" "target" "resources"]
 ;; setup a helpful alias to start the build
 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "nutrack" "-r"]}}}
